@font-face {
	font-family: suil;
	src: url('../fonts/segoeuil.ttf')
}
html, body {
	padding: 0;
	margin: 0;
	padding-top: 100px;
	font-family: suil;
}
#navi {
	padding: 0;
	background: #00a29a;
	color: white;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 999;
}
#navi ul:first {
	padding-top: 20px;
}
#navi ul {
	padding-right: 140px;
	padding-left: 15px;
	padding-bottom: 10px;
}
#navi ul li {
	margin-left: 0;
	text-decoration: none;
	list-style: none;
}
#navi ul .title {
	font-size: 36px
}
#navi ul li a {
	color: white;
	text-decoration: none;
	font-size: 20px;
}
.app.title {
	position: absolute;
	color: #00a29a;
	font-size: 72px;
	line-height: 72px;
	top: 20px;
	left: 60px;
}
.app.title big {
	font-size: 108px;
}
.app.title small {
	color: grey;
	font-size: 30px;
}
.steam.container {
	position: fixed;
	left: 10px;
	top: 120px;
	padding-left: 50px;
}

.steam.container section {
	float: left;
	width: 320px;
	text-decoration: none;
	color: #00a29a;
}
.drop.text{
	margin-left: 35px;
}
.drop.actions {
	float: left;
	padding: 0;
	position: relative;
	list-style: none;
	font-size: 16px;
	line-height: 16px;
	width: 16px;
	color: #00a29a;
}
.drop.action {
	margin-bottom: 5px;
}